<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" align="center" width="550">
  <tbody>
  <tr>
    <td height="40" bgcolor="#ffffff" style="border: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;"><p align="left">
    
    </p><table border="0" width="173">
        <tbody>
            <tr>
                  <td>
                         <span style="padding: 5px;">
                              <a target="_blank" href="http://www.aluguerelaxe.com.br/">
                              <img hspace="10" height="112" border="0" width="443" vspace="10" src="http://www.aluguerelaxe.com.br/alugue_relaxe.png" alt="AlugueRelaxe!"/>
                              </a>
                         </span>
                  </td>
        </tr>
      </tbody>
      </table>
      </td>
  </tr>
  
  
  <tr>
    <td bgcolor="#ffffff" style="border-left: 1px solid rgb(179, 188, 191); border-right: 1px solid rgb(179, 188, 191); border-bottom: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
         <tbody>
         <tr>
        <td><a name="1276b8cd405961d7_j1"/></td><td bgcolor="#f0f0f0" style="padding: 10px;"><p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><strong>
              Sr. AlugueRelaxe,</strong></font></p>
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            No dia ${DATA_CONTATO}, o cliente ${NOME_PROPOSTO} preencheu o formul&aacute;rio de contato com o anunciante do
            im&oacute;vel  #${ID_IMOVEL}.<br/>
           </font>
           </p>  
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Segue abaixo as informa&ccedil;&otilde;es que foram preenchidas no AlugueRelaxe.com.br:
           </font>
           </p>  
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            <strong>Nome do proposto:&nbsp;</strong> ${NOME_PROPOSTO}<br/>
            <strong>Contato pelo E-mail:&nbsp;</strong>${EMAIL_PROPOSTO}<br/>
            <strong>Telefone:&nbsp;</strong> (${DDD_PROPOSTO}) ${FONE_PROPOSTO}<br/>
            <strong>Cidade:&nbsp;</strong> ${CIDADE_PROPOSTO}<br/>
            <strong>UF:&nbsp;</strong> ${UF_PROPOSTO}<br/>
            <strong>Data de Chegada Prevista:&nbsp;</strong> ${CHEGADA_PREVISTA_PROPOSTO}<br/>
            <strong>Data de Partida Prevista:&nbsp;</strong> ${PARTIDA_PREVISTA_PROPOSTO}<br/>
            <strong>Quantidade de Adultos:&nbsp;</strong> ${ADULTOS_PROPOSTO}<br/>
            <strong>Quantidade de Crian&ccedil;as:&nbsp;</strong> ${CRIANCAS_PROPOSTO}<br/><br/>
            <strong>Outras Informa&ccedil;&otilde;es que ele(a) solicita:</strong><br/>
            ${INFO_ADICIONAL_PROPOSTO}<br/>
           </font>
           </p>  
           

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Por favor, realize a verifica&ccedil;&atilde;o do conte&uacute;do digitado pelo proposto e se n&atilde;o contiver 
            nenhum conte&uacute;do impr&oacute;prio.
           </font>
           </p>  

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            <a href="${LINK_LIBERAR_PARA_CONTATO}">Sim, este e-mail pode ser liberado.</a>.
           </font>
           </p>  

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            <a href="${LINK_REPROVAR_PARA_CONTATO}">N&atilde;o, este e-mail cont&eacute;m conte&uacute;do impr&oacute;prio. Elimine j&aacute;!</a>.
           </font>
           </p>  

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Atenciosamente,<br/>
            Equipe do AlugueRelaxe.com.br
           </font>
           </p>  
              
        </td>
        </tr>
    </tbody></table></td>
  </tr>
  
</tbody>
</table>

</body>
</html>
