<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" align="center" width="550">
  <tbody>
  <tr>
    <td height="40" bgcolor="#ffffff" style="border: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;"><p align="left">
    
    </p><table border="0" width="173">
        <tbody>
            <tr>
                  <td>
                         <span style="padding: 5px;">
                              <a target="_blank" href="http://www.aluguerelaxe.com.br/">
                              <img hspace="10" height="112" border="0" width="443" vspace="10" src="http://www.aluguerelaxe.com.br/stream/logo/alugue_relaxe.png" alt="AlugueRelaxe!"/>
                              </a>
                         </span>
                  </td>
        </tr>
      </tbody>
      </table>
      </td>
  </tr>
  
  
  <tr>
    <td bgcolor="#ffffff" style="border-left: 1px solid rgb(179, 188, 191); border-right: 1px solid rgb(179, 188, 191); border-bottom: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
         <tbody>
         <tr>
        <td><a name="1276b8cd405961d7_j1"/></td><td bgcolor="#f0f0f0" style="padding: 10px;"><p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><strong>
              Prezado(a) ${NOME_CLIENTE},</strong></font></p>

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            O plano de anúncio do seu imóvel <strong>#${ID_IMOVEL}</strong>, sob título: <strong>"${TITULO_ANUNCIO}"</strong> venceu em <strong>${DATA_VENCIMENTO_ANUNCIO} e foi bloqueado por falta de renovação.</strong><br/></font>
           </p>  
		   
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            <strong>Veja abaixo as condições do seu plano atual</strong><br/>
			ID Fatura: <strong>#${CD_IMOVEL_PLANO_FATURA}</strong><br/>
			Plano Atual: <strong>${DESCRICAO_PLANO}</strong><br/>
            Valor Pago: <strong>${VALOR_PLANO}</strong><br/>
            Data de Compra: <strong>${DATA_CADASTRO}</strong><br/>
            Data de Pagamento: <strong>${DATA_PAGAMENTO}</strong><br/>
            Vencimento Anúncio: <strong>${DATA_VENCIMENTO_ANUNCIO}</strong><br/>
           </font>
           </p>  

            <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Se o seu plano é um dos planos de ASSINATURA COM RENOVAÇÃO AUTOMÁTICA, ou seja, debitados diretamente em seu cartão de crédito, IGNORE ESTE COMUNICADO. 
			Pois assim que recebermos a confirmação do pagamento da fatura pela administradora seu anúncio será revalidado.
           </font>
           </p>  

		   <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Caso seu plano seja um dos planos de <strong>PRAZOS FIXOS</strong>, solicitamos cordialmente que você siga os passos abaixo para renovar o anúncio do seu imóvel <strong>#${ID_IMOVEL}</strong>, sob título: <strong>"${TITULO_ANUNCIO}"</strong> 
           </font>
           </p>  
		   <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
				<ul>
					<li>Entre na área de anunciantes através do menu <b>LOGIN</b></li>
					<li>Digite seu e-mail e senha</b></li>
					<li>Escolha a opção do menu <b>Financeiro >> Renovação Anúncio</b></li>
					<li>Siga as instruções do Assistente</li>
					<li>Escolha a opção do menu <b>Financeiro >> Pagar Plano</b></li>
					<li>Selecione o imóvel e siga as instruções do Assistente</li>
				</ul>
           </font>
           </p>  

		   <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			<strong>OBS: PLANOS GRATUITOS POR TEMPO DETERMINADO NÃO PODEM SER RENOVADOS. ESTES PRECISAM SER MIGRADOS PARA ALGUM DOS PLANOS OFERECIDOS NA TABELA DE PREÇO.</strong>
			<ul>
					<li>Entre na área de anunciantes através do menu <b>LOGIN</b></li>
					<li>Digite seu e-mail e senha</b></li>
					<li>Escolha a opção do menu <b>Financeiro >> Migrar Plano</b></li>
					<li>Siga as instruções do Assistente</li>
					<li>Escolha a opção do menu <b>Financeiro >> Pagar Plano</b></li>
					<li>Selecione o imóvel e siga as instruções do Assistente</li>
				</ul>
           </font>
           </p>  

           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Fique a vontade para entrar em contato para qualquer assunto relacionado a sua renovação, por favor envie 
			e-mail para <a href="mailto:aluguerelaxe@aluguerelaxe.com.br">aluguerelaxe@aluguerelaxe.com.br</a>
			ou pelos telefones: ${TELEFONES_CENTRAL_RESERVA}<br/>
           </font>
           </p>  

           
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Atenciosamente,<br/>
            Central de Relacionamento AlugueRelaxe
           </font>
           </p>  
              
        </td>
        </tr>
    </tbody></table></td>
  </tr>
  
</tbody>
</table>

</body>
</html>
