<HTML>
<HEAD>
<TITLE>:: Portal AlugueRelaxe! :: Aluguel de imóveis para temporada em todo Brasil você encontra aqui.</TITLE>
<META HTTP-EQUIV="pragma" CONTENT="NO-CACHE">
<META HTTP-EQUIV="expires" CONTENT="-1">
<META HTTP-EQUIV="refresh" CONTENT="0;url=${TEMPLATE_REDIRECT}">
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<meta name="author" CONTENT="AlugueRelaxe">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="content-language" content="pt-br">
<meta name="description" content="AlugueRelaxe - Incrível e mais completo guia de imóveis de aluguel para temporada do Brasil. Casas, Apartamentos, Sítios, Imóveis, Chalés, Hotéis e Pousadas para Temporada.">
<meta name="keywords" content="aluguel temporada, temporada, imovel temporada, casa temporada, imovel temporada florianópolis, imóvel temporada cabo frio, imóvel temporada ubatuba, casa na praia, apartamento temporada, chacará temporada, sitio temporada, alugue temporada, pousada temporada, ferias, viagens, viagem, carnaval, ano novo, natal, corphus christi, independencia, aluguel praia, apartamento na praia, casa final de semana, casa veraneio, ferias na praia" />
<meta name="robots" content="index, follow">
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20582815-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Fim Google Analytics -->
</HEAD>
</HTML>
