<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" align="center" width="80%">
  <tbody>
	<tr>
		<td>
		   <p>
			<H3 style="color:black; font-weight:bold; font-family:Helvetica">CONTRATO DE LOCA&Ccedil;&Atilde;O DE IM&Oacute;VEL PARA FINS DE TEMPORADA</H3>
		   </p>  
		   <p style="color:black; font-size:18px; font-weight:bold; font-family:Helvetica">
			No. Controle: <b>${NUMERO_CONTROLE_RESERVA}</b>
		   </p>  
			  
		</td>
	</tr>
   
  <tr>
    <td bgcolor="#ffffff">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
         <tbody>
         <tr>
			<td>
			   <p style="color:black; font-size:12px; font-family:Helvetica">
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Na qualidade de <b>LOCADOR</b>, <b>${NOME_DO_LOCADOR}</b>, portador do CPF nº <b>${CPF_LOCADOR}</b>, 
residente e domiciliado atualmente à  <b>${ENDERECO_COMPLETO_LOCADOR}</b>;
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Na qualidade de <b>LOCATÁRIO</b>, <b>${NOME_DO_LOCATARIO}</b>, portador do CPF nº <b>${CPF_LOCATARIO}</b>, 
residente e domiciliado atualmente à <b>${ENDERECO_COMPLETO_LOCATARIO}</b>;
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Na qualidade de <b>AGENTE</b>, JÚLIO CESAR VITORINO, portador do RG nº 08998394-4 e CPF nº 007.370.337-03, 
residente e domiciliado atualmente à Rua Carlos Lacerda, 83, bairro Caieiras, em Volta Redonda, estado do Rio de janeiro;
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
As partes acima qualificadas têm justas e acertadas o presente contrato temporário para locação de temporada do objeto abaixo relacionado:
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
IMÓVEL:
<br/>Identifica&ccedil;&atilde;o: #<b>${CODIGO_IMOVEL}</b>
<br/><b>${TITULO_IMOVEL}</b>
<br/><b>${ENDERECO_COMPLETO_IMOVEL}</b>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
FORMA DE PAGAMENTO: <b>${FORMA_DE_PAGAMENTO}</b>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Locador, Locatário e Agente resolvem firmar o presente <b>CONTRATO DE LOCAÇÃO POR TEMPORADA</b>, regido pela lei 8.245, 
mediante as cláusulas e condições seguintes:
			   </p>  
			   <p>
<H3 style="color:black; font-weight:bold; font-family:Helvetica">1 – DAS OBRIGAÇÕES</H3>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
1.1 - O LOCADOR se obriga, neste ato, a dar em locação ao LOCATÁRIO o imóvel de sua propriedade, 
constituído pelo objeto deste contrato, mediante ao recebimento de pagamento por parte do 
LOCATÁRIO a título de aluguel por temporada.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
1.2 - O LOCATÁRIO, neste ato, se declara ciente das regras que regem o imóvel locado, seja uma casa, apartamento, hotel, chácara, flat, fazenda, sítio, chalé ou pousada, comprometendo-se a observá-las e cumpri-las.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
1.3 - Juntamente com o imóvel é dado em locação os bens móveis e utensílios que o guarnecem, conforme relação a ser fornecida pelo LOCADOR no ato da vistoria, bem como o laudo de vistoria que retrata o estado de conservação do imóvel.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
1.4 - O AGENTE, neste ato, se declara participante deste contrato por intermédio do LOCADOR ao aceitar o termo de uso e utilizar os serviços do Portal AlugueRelaxe na internet para negociação de aluguel de temporada junto ao LOCATÁRIO, tendo plena capacidade para atender às necessidades de negociação e intermediação entre as partes no âmbito de garantia da existência do imóvel.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
<H3 style="color:black; font-weight:bold; font-family:Helvetica">2 – DAS CONDIÇÕES DE LOCAÇÃO</H3>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.1 - O prazo do presente contrato de locação iniciar-se-á em <b>${DATA_INICIO_LOCACAO_EXTENSO}</b>,  e término em <b>${DATA_FIM_LOCACAO_EXTENSO}</b>, data em que o LOCATÁRIO se obriga a restituir o imóvel locado no estado de conservação que o recebeu.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.2 - A presente locação destina-se a fins exclusivamente de temporada, e dessa forma fica proibida qualquer alteração da referida destinação, salvo mediante concordância prévia e expressa do LOCADOR.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.3 - O valor do aluguel do presente contrato é de R$ <b>${VALOR_NEGOCIADO}</b> (<b>${VALOR_NEGOCIADO_POR_EXTENSO}</b>), podendo ser pago 100% (cem por cento) do valor antecipadamente ao AGENTE ou a ser pago 50% (cinquenta por cento) antecipadamente ao AGENTE e os demais 50% (cinquenta por cento) durante ato de vistoria e aceite do imóvel, realizadas entre o LOCADOR e LOCATÁRIO.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.4 – O pagamento antecipado de 100% (cem por cento) ou 50% (cinquenta por cento) do valor do aluguel de temporada dar-se-á, diretamente ao AGENTE, de forma que o mesmo assumirá o papel de custódia desta verba para que o LOCATÁRIO possa garantir que estará alugando o imóvel de acordo com o que fora negociado.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.5 – O AGENTE somente repassará o adiantamento do LOCATÁRIO ao LOCADOR, deduzida sua comissão de <b>${PERCENTUAL_COMISSAO_RESERVA}</b>% (<b>${PERCENTUAL_COMISSAO_RESERVA_POR_EXTENSO} por cento)</b> a título de serviços prestados ao mesmo. Logo após, o LOCADOR deverá entrar na sua área de anunciante no site www.aluguerelaxe.com.br usando de seu login e senha privativos.
O LOCADOR deverá entrar na guia “Negociação”, opção “Liberar Pagamento” e usar o código de liberação entregue pelo LOCADOR para autorizar a transferência do dinheiro antecipado de aluguel de temporada para sua conta corrente previamente cadastrada.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.6 - O LOCADOR, ou seu procurador devidamente constituído pelo AGENTE, expedirá recibo discriminado no qual constará o valor total da locação.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.7 - Além dos valores referentes aos aluguéis o LOCATÁRIO também será responsável, enquanto durar a locação, por todos os valores por ele despendidos e que possam ser individualizados, como contas de telefone, luz, água, gás e multas resultantes de infrações das normas de condomínio.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Parágrafo único - O LOCATÁRIO, no curso da locação, obriga-se, ainda, a satisfazer todas as exigências do Poder Público, a que der causa que não constituirão motivo para rescisão deste contrato.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.8 - O LOCATÁRIO deve manter o imóvel, as instalações sanitárias e elétricas, fechos, vidros, torneiras, ralos, pisos e calçadas, bem como os demais acessórios; os móveis e os utensílios em perfeito estado de conservação e em boas condições de higiene para assim restituí-los, quando findo ou rescindido este contrato.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.9 - Não será permitida a transferência deste contrato, nem a sublocação, cessão ou empréstimo total ou parcial do imóvel locado, sem a prévia autorização por escrito do LOCADOR.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.10 - É expressamente vedada a permanência de mais de <b>${QTDE_PESSOAS_IMOVEL}</b> (<b>${QTDE_PESSOAS_IMOVEL_EXTENSO}</b>) pessoas no imóvel.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.11 - O LOCATÁRIO faculta ao LOCADOR, ou seu representante local, o exame e vistoria do imóvel locado, em dia e hora previamente acordados, a fim de verificar o seu estado de conservação.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.12 - Fica estipulada multa no valor de 20% (vinte por cento) incidente sobre o valor total do contrato, por qualquer infração às cláusulas estabelecidas neste instrumento.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.13 - A multa persistirá independentemente das despesas efetuadas para os reparos e estragos.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.14 - A cobrança desta multa não afasta as relativas a outras eventualmente impostas.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.15 - Todo e qualquer ajuste entre as partes, para integrar o presente contrato, deverá ser feito por escrito.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
2.16 - O LOCATÁRIO efetuará depósito, em dinheiro, do montante de R$ <b>${VALOR_PREVISTO_DEPOSITO}</b> (<b>${VALOR_PREVISTO_DEPOSITO_EXTENSO}</b>), o qual ficará depositado no Banco Itaú, Agência 1671, conta nº 01049-2.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
<H3 style="color:black; font-weight:bold; font-family:Helvetica">3 – DA DESISTÊNCIA E ARREPENDIMENTO</H3>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
3.1 - Após a reserva estar consumada, o LOCATÁRIO tem o prazo de <b>sete dias</b> corridos após a confirmação do pagamento do adiantamento para cancelar a sua reserva; fica o AGENTE responsável por efetuar a devolução de 90% (noventa por cento) do valor depositado, ficando retidos 10% (dez por cento) a título de cobertura de despesas de todo o processo de negociação.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
3.2 - Caso o LOCATÁRIO arrependa-se após sétimo dia corrido após a confirmação do pagamento do adiantamento, <b>não haverá devolução do pagamento antecipado de aluguel</b>.
Fica o AGENTE responsável por efetuar a distribuição do valor total depositado, sendo divididos da seguinte forma: (a) <b>${PERCENTUAL_COMISSAO_RESERVA}</b>% (<b>${PERCENTUAL_COMISSAO_RESERVA_POR_EXTENSO}</b> por cento) serão destinados a cobrir as despesas de todo o processo de negociação a título de indenização ao AGENTE; (b) o total remanescente será depositado em conta corrente do LOCADOR como indenização e lucros cessantes, além de outros custos por não cumprimento do aluguel de temporada contratado por parte do LOCATÁRIO.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
3.3 - Após o contrato emitido eletronicamente e enviado às partes envolvidas, o LOCADOR somente poderá desonrar o presente contrato em caso fortuito ou de força maior.

Caso o descumprimento deste presente instrumento aconteça, a indenização será de total responsabilidade do LOCADOR, isentando integralmente o AGENTE de qualquer responsabilidade civil e/ou criminal. Entretanto, caberá ao AGENTE executar a devolução do dinheiro antecipado como pagamento do aluguel de temporada, deduzidos os custos administrativos oriundos de serviços de bancos e/ou operadoras de crédito para realização da transação. 

O LOCADOR infrator, por sua vez, deverá ressarcir ao LOCATÁRIO em dobro o valor integral do aluguel de todo o período, assim como os encargos e custos administrativos de bancos e/ou operadoras de crédito utilizadas como prestadora de serviços financeiros, caberá ainda ao LOCADOR, ressarcir ao AGENTE o valor da comissão registrado sobre o valor ressarcido ao LOCATÁRIO a título de lucros cessantes;
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
3.4 - Se o LOCATÁRIO não comparecer na data de vistoria acordada, fica o AGENTE responsável por efetuar a distribuição do valor total depositado, sendo divididos da seguinte forma: (a) <b>${PERCENTUAL_COMISSAO_RESERVA}</b>% (<b>${PERCENTUAL_COMISSAO_RESERVA_POR_EXTENSO}</b> por cento) serão destinados a cobrir as despesas de todo o processo de negociação a título de indenização ao AGENTE; (b) o total remanescente será depositado em conta corrente do LOCADOR como indenização e lucros cessantes, além de outros custos por não cumprimento do aluguel de temporada contratado por parte do LOCATÁRIO.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
<H3 style="color:black; font-weight:bold; font-family:Helvetica">4 – DO FORO</H3>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Parágrafo único - As partes elegem o foro da Comarca de Volta Redonda, Estado do Rio de Janeiro, para dirimir as questões resultantes da execução do presente contrato, obrigando-se a parte vencida a pagar à vencedora, além das custas e despesas processuais, honorários advocatícios fixados em 20% (vinte por cento) sobre o valor da causa.
			   </p>  
			   
			   <p style="color:black; font-size:12px; font-family:Helvetica">
<H3 style="color:black; font-weight:bold; font-family:Helvetica">5 – DA CAUÇÃO</H3>
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.1 - O LOCATÁRIO se responsabiliza por qualquer dano que venha a causar ao imóvel, ou aos bens que o guarnecem devendo restituí-los nas mesmas condições em que o recebeu.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.2 – Fica estipulado o valor a título de caução de R$ <b>${VALOR_DA_CAUCAO}</b> (<b>${VALOR_DA_CAUCAO_POR_EXTENSO}</b>) o qual ficará depositado no Banco Itaú, Agência 1671, conta nº 01049-2.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.3 - Em havendo qualquer dano o LOCATÁRIO deverá repará-lo, por sua conta, enquanto durar a locação.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.4 - Em não cumprindo o determinado no parágrafo acima, o LOCADOR fica autorizado a executar os reparos, independentemente de orçamento, utilizando-se para tal fim da caução dada. 
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.5 - Executados os reparos o LOCADOR apresentará os recibos dos valores gastos, e devolverá, se for o caso, os valores remanescentes em caução e que não foram despendidos nos reparos.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
5.6 - A caução será restituída ao término do contrato de locação, deduzidos os custos administrativos da administradora de pagamento de crédito e/ou banco, se nenhuma irregularidade for verificada durante a vistoria de entrada e/ou saída do imóvel.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
E, assim, por estarem justas e contratadas, confirmam o presente instrumento particular de CONTRATO DE LOCAÇÃO POR TEMPORADA ELETRÔNICO.
			   </p>  
			   <p style="color:black; font-size:12px; font-family:Helvetica">
Volta Redonda, <b>${DATA_DO_CONTRATO_POR_EXTENSO}.</b> 
			   </p>  
				  
			</td>
        </tr>
    </tbody></table></td>
  </tr>
  
</tbody>
</table>

</body>
</html>
