<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" width="550">
  <tbody>
  <tr>
    <td height="40" bgcolor="#ffffff" style="border: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;"><p align="left">
    
    </p><table border="0" width="173" align="center">
        <tbody>
            <tr>
                  <td>
                         <span style="padding: 5px;">
                              <a target="_blank" href="http://www.aluguerelaxe.com.br/">
                              <img hspace="10" height="112" border="0" width="443" vspace="10" src="http://www.aluguerelaxe.com.br/alugue_relaxe.png" alt="AlugueRelaxe!"/>
                              </a>
                         </span>
                  </td>
        </tr>
      </tbody>
      </table>
      </td>
  </tr>
  
  
  <tr>
    <td bgcolor="#ffffff" style="border-left: 1px solid rgb(179, 188, 191); border-right: 1px solid rgb(179, 188, 191); border-bottom: 1px solid rgb(179, 188, 191); padding: 5px; text-align: left;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
         <tbody>
         <tr>
        <td><a name="1276b8cd405961d7_j1"/></td><td bgcolor="#f0f0f0" style="padding: 10px;">


			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			${TIPP_TAG_NOME_ANUNCIANTE_IMOVEL},
			</font></p>

			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			Informamos que seu im&oacute;vel foi CADASTRADO COM SUCESSO, conforme as informa&ccedil;&otilde;es abaixo:
			</font></p>

			<p>
			<font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><b>Titulo:</b></font>
			<font face="Arial, Helvetica, sans-serif" color="#4682B4" size="2"><b>${TIPP_TAG_TITULO_IMOVEL}</b></font>
			</font></p>

			<p>
			<font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><b>Data do Cadastro:</b></font>
			<font face="Arial, Helvetica, sans-serif" color="#4682B4" size="2"><b>${TIPP_TAG_DATA_CADASTRO_IMOVEL}</b></font>
			</font></p>

			<p>
			<font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><b>Plano selecionado:</b></font>
			<font face="Arial, Helvetica, sans-serif" color="#4682B4" size="2"><b>${TIPP_TAG_NOME_PLANO_IMOVEL} - ${TIPP_TAG_DESCRICAO_PLANO_IMOVEL}</b></font>
			</font></p>

			<p>
			<font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><b>Valor: R$&nbsp;</b></font>
			<font face="Arial, Helvetica, sans-serif" color="#4682B4" size="2"><b>${TIPP_TAG_VALOR_PLANO_IMOVEL}</b></font>
			</font></p>

			<p>
			<font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><b>Situa&ccedil;&atilde;o:</b></font>
			<font face="Arial, Helvetica, sans-serif" color="#FF4500" size="2"><b>PENDENTE DE PAGAMENTO</b></font>
			</font></p>

			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			Seu im&oacute;vel ser&aacute; <b>LIBERADO</b> para todos os canais de divulga&ccedil;&atilde;o no site 
			assim que for realizado o pagamento do valor de R$&nbsp;${TIPP_TAG_VALOR_PLANO_IMOVEL} do plano <b>${TIPP_TAG_NOME_PLANO_IMOVEL} - ${TIPP_TAG_DESCRICAO_PLANO_IMOVEL}</b> que voc&ecirc; 
			selecionou como sendo adequado as suas necessidades.
			</font></p>
			
			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			Siga abaixo as instru&ccedil;&otilde;es para voc&ecirc; proceder com o pagamento:
			</font></p>
			
			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			Para realizar o pagamento do seu an&uacute;ncio, faça:</font></p>

			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
1)	Entre em www.aluguerelaxe.com.br e selecione o link “LOGIN”;<br/>
2)	Digite seu e-mail e senha para acessar o console administrativo;<br/>
3)	Use a opção Minha Conta >> Meus Imóveis;<br/>
4)	Clique em cima da foto do imóvel que você deseja realizar o pagamento;<br/>
5)	Clique no botão dos nossos parceiros de pagamento: pagSeguro ou Paypal;<br/>
			</font></p>

			<p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
			Ap&oacute;s a confer&ecirc;ncia do pagamento ser&aacute; enviado um e-mail e em at&eacute; 
			12 horas seu an&uacute;ncio estar&aacute; liberado em todos os nossos canais de comunica&ccedil;&atilde;o.
			</font></p>
			
           <p><font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
            Atenciosamente,<br/>
			Julio Vitorino<br/>
            Administrador do AlugueRelaxe<br/>
			<a href="http://www.aluguerelaxe.com.br">http://www.aluguerelaxe.com.br</a>
           </font>
           </p>  

   			<p><font face="Arial, Helvetica, sans-serif" color="#FF0000" size="2"><b>
			PS: Informamos que se a situa&ccedil;&atilde;o de PENDENTE DE PAGAMENTO persitir por mais de 30 dias ap&oacute;s a 
			data do cadastro do im&oacute;vel e a situa&ccedil;&atilde;o não for regularizada ap&oacute;s nossos e-mails de aviso p&oacute;s cadastro, 
			o im&oacute;vel ser&aacute; removido de nossa base de dados automaticamente e n&atilde;o iremos mais emitir nenhum comunicado.</b>
			</font></p>

           
        </td>
        </tr>
    </tbody></table></td>
  </tr>
  
</tbody>
</table>

</body>
</html>
           