<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AlugueRelaxe</display-name>
	<!-- ***************************************************************************** -->
	<!-- Definição de contexto para todas as servlets                                  -->
	<!-- Estes paths ficam imediatamente após o diretório ${TOMCAT_HOME}/webapps/ROOT/ -->
	<!-- ***************************************************************************** -->
	<context-param>
		<param-name>root_fotos</param-name>
		<param-value>/stream/fotos/</param-value>
	</context-param>
	<context-param>
		<param-name>root_videos</param-name>
		<param-value>/stream/videos/</param-value>
	</context-param>
	
	<!-- Definições das servlets -->
    <servlet>
        <servlet-name>JXControllerSmartInterface</servlet-name>
        <servlet-class>br.com.techtools.enginesi.JXControllerSmartInterface</servlet-class>
        <init-param>
           <param-name>project</param-name>
           <param-value>WEB-INF/aluguerelaxe.jxpr</param-value>
        </init-param>
        <init-param>
           <param-name>context</param-name>
           <param-value>WEB-INF/files</param-value>
        </init-param>
    </servlet>
    <servlet>
    	<servlet-name>aprovarthread</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.AprovarThread</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>liberacontatoanunciante</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.LiberarContatoAnunciante</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>liberadepoimento</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.LiberarDepoimento</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>confirmaemail</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.ConfirmaEmail</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>uploaderFotoPerfil</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.UploaderFotoPerfil</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>uploaderFotoThread</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.UploaderFotoThread</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>uploader</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.Uploader</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ativarpromocao</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.AtivarPromocao</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>validarprereserva</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.AprovarPreReserva</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>barraprogresso</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.servlet.BarraProgresso</servlet-class>
    </servlet>
    
    
    <!--
    *********************************************************************************
                 S E R V L E T S  -  C H A M A D A S    R P C   G W T
    *********************************************************************************
     -->
    <servlet>
    	<servlet-name>AvaliacaoReservaFichaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AvaliacaoReservaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ReservaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReservaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ReservaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReservaFichaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CentralReservaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ReservaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReservaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ReservaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteReservaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ReservaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ChatPortalPublicoAvisosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.AvisosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteAvisosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.AvisosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleAvisosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.AvisosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LogoDinamicoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.LogoDinamicoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteFaleConoscoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FaleConoscoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FaleConoscoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FaleConoscoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ProgressBarRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ProgressBarRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PainelUltimosCadastradosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PainelUltimosCadastradosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteClienteRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ClienteRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NovaContaClienteRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ClienteRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteGaleriaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.GaleriaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteCepRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.CepRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleCepRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.CepRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleFichaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsolePlanosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PlanosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponentePlanosRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PlanosRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteFichaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ThreadComentarioImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ThreadImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleCaracteristicaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.CaracteristicaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteCaracteristicaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.CaracteristicaRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleGaleriaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.GaleriaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>GaleriaPatrocinadorRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.GaleriaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>GaleriaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.GaleriaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReservaUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ComponenteUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CharterUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ListaImovelUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NovaContaUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NovaContaCepRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.CepRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NovaContaModoPublicidadeRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ModoPublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EnqueteModoPublicidadeRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ModoPublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EnqueteMPRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.EnqueteModoPublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleModoPublicidadeRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ModoPublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleClienteRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ClienteRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LoginRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.LoginRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.LoginRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PainelDepoimentoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.DepoimentoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DepoimentoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.DepoimentoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DestinoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.DestinoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DestinoUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PainelUfCidadesRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PainelUfCidadesRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PublicidadeRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DestaquesRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.DestaquesRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FichaImovelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.FichaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FichaImovelModoPublicidadeRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ModoPublicidadeRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FichaImovelGaleriaRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.GaleriaImovelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FichaImovelUFRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.UFRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ListaImovelUfRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.ListaImovelUfRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PaginacaoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PaginacaoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PaginacaoComponenteRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PaginacaoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsolePaginacaoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PaginacaoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PromocaoAmigoIndicaAmigoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PromocaoAmigoIndicaAmigoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PromocaoPadraoRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.PromocaoAmigoIndicaAmigoRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SuperPanelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.SuperPanelRPCImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ConsoleSuperPanelRPC</servlet-name>
    	<servlet-class>br.com.jcv.aluguerelaxe.server.SuperPanelRPCImpl</servlet-class>
    </servlet>
    
    

    <!--
    *********************************************************************************
                 S E R V L E T S    S M A R T    I N T E R F A C E S
    *********************************************************************************
     -->
    
    <servlet-mapping>
        <servlet-name>JXControllerSmartInterface</servlet-name>
        <url-pattern>/JXControllerSmartInterface</url-pattern>
    </servlet-mapping>
    <!--
    *********************************************************************************
                 S E R V L E T S        D E       U S O        G E R A L
    *********************************************************************************
     -->
    <servlet-mapping>
    	<servlet-name>barraprogresso</servlet-name>
    	<url-pattern>/barraprogresso.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>aprovarthread</servlet-name>
    	<url-pattern>/aprovarthread.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>liberadepoimento</servlet-name>
    	<url-pattern>/liberadepoimento.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>liberacontatoanunciante</servlet-name>
    	<url-pattern>/liberactopend.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>confirmaemail</servlet-name>
    	<url-pattern>/confirmaemail.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>uploader</servlet-name>
    	<url-pattern>/uploader.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>uploaderFotoPerfil</servlet-name>
    	<url-pattern>/uploaderFotoPerfil.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>uploaderFotoThread</servlet-name>
    	<url-pattern>/uploader_foto_thread.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ativarpromocao</servlet-name>
    	<url-pattern>/ativarpromocao.svlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>validarprereserva</servlet-name>
    	<url-pattern>/prereserva.svlt</url-pattern>
    </servlet-mapping>
    
    <!--
    *********************************************************************************
                             M A P A S    C H A M A D A S    R P C
    *********************************************************************************
     -->
    <servlet-mapping>
    	<servlet-name>AvaliacaoReservaFichaImovelRPC</servlet-name>
    	<url-pattern>/avaliacaoreserva/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AvaliacaoReservaImovelRPC</servlet-name>
    	<url-pattern>/avaliacaoreserva/reservarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ThreadComentarioImovelRPC</servlet-name>
    	<url-pattern>/comentarioimovel/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ThreadImovelRPC</servlet-name>
    	<url-pattern>/threadimovel/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleSuperPanelRPC</servlet-name>
    	<url-pattern>/console/superpanelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SuperPanelRPC</servlet-name>
    	<url-pattern>/superbanner/superpanelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReservaFichaImovelRPC</servlet-name>
    	<url-pattern>/reserva/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReservaImovelRPC</servlet-name>
    	<url-pattern>/reserva/reservarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CentralReservaRPC</servlet-name>
    	<url-pattern>/centralreserva/reservarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteReservaRPC</servlet-name>
    	<url-pattern>/componente/reservarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReservaRPC</servlet-name>
    	<url-pattern>/console/reservarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ChatPortalPublicoAvisosRPC</servlet-name>
    	<url-pattern>/chat/avisosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteAvisosRPC</servlet-name>
    	<url-pattern>/componente/avisosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleAvisosRPC</servlet-name>
    	<url-pattern>/console/avisosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoDinamicoRPC</servlet-name>
    	<url-pattern>/logodinamico/logodinamicorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteFaleConoscoRPC</servlet-name>
    	<url-pattern>/componente/faleconoscorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FaleConoscoRPC</servlet-name>
    	<url-pattern>/faleconosco/faleconoscorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteCepRPC</servlet-name>
    	<url-pattern>/componente/ceprpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NovaContaCepRPC</servlet-name>
    	<url-pattern>/novaconta/ceprpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NovaContaModoPublicidadeRPC</servlet-name>
    	<url-pattern>/novaconta/modopublicidaderpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EnqueteModoPublicidadeRPC</servlet-name>
    	<url-pattern>/enquetemp/modopublicidaderpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EnqueteMPRPC</servlet-name>
    	<url-pattern>/enquetemp/enquetemprpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleModoPublicidadeRPC</servlet-name>
    	<url-pattern>/console/modopublicidaderpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleCepRPC</servlet-name>
    	<url-pattern>/console/ceprpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsolePlanosRPC</servlet-name>
    	<url-pattern>/console/planosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponentePlanosRPC</servlet-name>
    	<url-pattern>/componente/planosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProgressBarRPC</servlet-name>
    	<url-pattern>/console/progressbarrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PainelUltimosCadastradosRPC</servlet-name>
    	<url-pattern>/ultimos/painelultimoscadastradosrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteClienteRPC</servlet-name>
    	<url-pattern>/componente/clienterpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NovaContaClienteRPC</servlet-name>
    	<url-pattern>/novaconta/clienterpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteGaleriaRPC</servlet-name>
    	<url-pattern>/componente/galeriaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GaleriaPatrocinadorRPC</servlet-name>
    	<url-pattern>/galeriapatrocinador/galeriaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleFichaImovelRPC</servlet-name>
    	<url-pattern>/console/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteFichaImovelRPC</servlet-name>
    	<url-pattern>/componente/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleCaracteristicaRPC</servlet-name>
    	<url-pattern>/console/caracteristicarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteCaracteristicaRPC</servlet-name>
    	<url-pattern>/componente/caracteristicarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleGaleriaRPC</servlet-name>
    	<url-pattern>/console/galeriaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GaleriaRPC</servlet-name>
    	<url-pattern>/galeria/galeriaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ComponenteUFRPC</servlet-name>
    	<url-pattern>/componente/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReservaUFRPC</servlet-name>
    	<url-pattern>/reserva/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CharterUFRPC</servlet-name>
    	<url-pattern>/charteruf/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleUFRPC</servlet-name>
    	<url-pattern>/console/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListaImovelUFRPC</servlet-name>
    	<url-pattern>/listaimoveluf/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NovaContaUFRPC</servlet-name>
    	<url-pattern>/novaconta/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleClienteRPC</servlet-name>
    	<url-pattern>/console/clienterpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsoleRPC</servlet-name>
    	<url-pattern>/console/loginrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginRPC</servlet-name>
    	<url-pattern>/login/loginrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PainelDepoimentoRPC</servlet-name>
    	<url-pattern>/paineldepoimentos/depoimentorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DepoimentoRPC</servlet-name>
    	<url-pattern>/depoimentos/depoimentorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DestinoRPC</servlet-name>
    	<url-pattern>/destinoferias/destinorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DestinoUFRPC</servlet-name>
    	<url-pattern>/destinoferias/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PainelUfCidadesRPC</servlet-name>
    	<url-pattern>/painelufcidades/painelufcidadesrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PainelUfCidadesRPC</servlet-name>
    	<url-pattern>/painelufcidadesmaisvisitados/painelufcidadesrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PublicidadeRPC</servlet-name>
    	<url-pattern>/publicidade/publicidaderpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DestaquesRPC</servlet-name>
    	<url-pattern>/destaques/destaquesrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FichaImovelRPC</servlet-name>
    	<url-pattern>/fichaimovel/fichaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FichaImovelModoPublicidadeRPC</servlet-name>
    	<url-pattern>/fichaimovel/modopublicidaderpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FichaImovelGaleriaRPC</servlet-name>
    	<url-pattern>/fichaimovel/galeriaimovelrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FichaImovelUFRPC</servlet-name>
    	<url-pattern>/fichaimovel/ufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListaImovelUfRPC</servlet-name>
    	<url-pattern>/listaimoveluf/listaimovelufrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PaginacaoRPC</servlet-name>
    	<url-pattern>/listaimoveluf/paginacaorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ConsolePaginacaoRPC</servlet-name>
    	<url-pattern>/console/paginacaorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PaginacaoComponenteRPC</servlet-name>
    	<url-pattern>/componente/paginacaorpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PromocaoAmigoIndicaAmigoRPC</servlet-name>
    	<url-pattern>/paia/paiarpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PromocaoPadraoRPC</servlet-name>
    	<url-pattern>/promopadrao/paiarpc</url-pattern>
    </servlet-mapping>

    <!--
    *********************************************************************************
                      L I S T E N E R S    P A R A    S T A R T U P
    *********************************************************************************
     -->
	<listener>
	    <listener-class>br.com.jcv.aluguerelaxe.utility.HibernateListener</listener-class>
	</listener>    
	<listener>
	    <listener-class>br.com.jcv.aluguerelaxe.server.uploadmanager.UploadManagerListener</listener-class>
	</listener>    
	<listener>
	    <listener-class>br.com.jcv.aluguerelaxe.utility.PublicidadeCacheListener</listener-class>
	</listener>    
	<listener>
	    <listener-class>br.com.jcv.aluguerelaxe.utility.PublicidadeDestaqueCacheListener</listener-class>
	</listener>    
	<listener>
	    <listener-class>br.com.jcv.aluguerelaxe.utility.SuperBannerCacheListener</listener-class>
	</listener>    

	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
